<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwh.mapper.LeaveRequestMapper">

    <select id="listByPage" resultType="com.mwh.pojo.LeaveRequest">
        select l.id, l.applicant_id, l.leave_type_id, l.start_time, l.end_time, l.days, l.reason, l.status,
        l.hr_comment, l.boss_comment, l.hr_approved_at, l.boss_approved_at, l.created_at, l.updated_at, t.name as
        leaveTypeName, e.real_name as applicantName from leave_request l left join leave_type t on l.leave_type_id = t.id left join user e on
        l.applicant_id = e.id
        <where>
            <if test="pageDTO.leaveTypeName != null">
                and t.name like concat('%',#{pageDTO.leaveTypeName},'%')
            </if>
            <if test="pageDTO.commitDate != null">
                and l.commit_date = #{pageDTO.commitDate}
            </if>
        </where>
    </select>

</mapper>
